* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 90vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero button {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}